.rosterTableWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.rosterTableContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
}

.rosterTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--border-color-secondary);
  border-radius: 8px;
}

.rosterTable th {
  padding: 8px 4px;
  text-align: center;
  background-color: var(--background-table-header);
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--border-color-secondary);
  border-right: 1px solid var(--border-color-secondary);
  font-size: 0.8rem;
}

.rosterTable td {
  padding: 6px 4px;
  border-bottom: 1px solid var(--border-color-secondary);
  border-right: 1px solid var(--border-color-secondary);
}

.rosterTable tr:last-child td {
  border-bottom: none;
}

.rosterTable th:last-child,
.rosterTable td:last-child {
  border-right: none;
}

.rosterTableLoading,
.rosterTableError {
  padding: 2rem;
  text-align: center;
  color: var(--color-text-dim);
  font-weight: 500;
}

.loadMoreFooter {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  position: sticky;
  left: 0;
  width: 100%;
}

.loadNextYearBtn {
  background: transparent;
  border: 1px solid var(--border-color-input);
  color: var(--color-text-dim);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.loadNextYearBtn:hover {
  background: var(--background-button-secondary);
  border-color: var(--color-link);
  color: var(--color-link);
}

.assignedPositions {
  display: flex;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 768px) {
  .rosterTable th {
    padding: 12px 8px;
    font-size: 0.9rem;
  }

  .rosterTable td {
    padding: 8px;
  }
  .loadMoreFooter {
    padding: 2rem 0 6rem;
  }

  .loadNextYearBtn {
    padding: 10px 24px;
    font-size: 0.9rem;
  }
}
