.app-shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  background-color: var(--background-app-shell); /* Use variable */
  color: var(--color-text-primary); /* Use variable */
}

.main-content {
  flex: 1;
  overflow-y: auto;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.content-container {
  min-height: 100%;
}

@media (min-width: 768px) {
  .app-shell {
    flex-direction: row;
  }

  .content-container {
    min-height: 100%;
  }

  .side-nav {
    display: flex !important;
    visibility: visible !important;
    position: relative;
    top: 0;
    height: 100% !important;
    border-right: 1px solid var(--border-color-secondary); /* Use variable */
    border-bottom: none;
    transition: width 0.3s ease; /* For smooth collapse/expand */
  }

  .app-shell.sidebar-expanded .side-nav {
    width: 260px;
  }

  .app-shell.sidebar-collapsed .side-nav {
    width: 70px;
  }

  .bottom-nav-container {
    left: 260px;
    transition: left 0.3s ease;
  }

  .app-shell.sidebar-collapsed .bottom-nav-container {
    left: 70px; /* When sidebar is collapsed */
  }
}
