.bottom-nav-container {
  display: flex;
  justify-content: center;
  background: var(--background-body);
  /* padding-bottom: constant(safe-area-inset-bottom); */
  /* padding-bottom: env(safe-area-inset-bottom); */
  z-index: 10;
  height: 130px;
}

.bottom-nav {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: space-around;
}

.bottom-nav-btn {
  color: var(--color-text-dim);
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 4px;
}

@media (hover: hover) {
  .bottom-nav-btn:hover {
    transform: translateY(0);
  }
}

.bottom-nav-btn.bottom-nav-btn-active {
  color: var(--color-link);
  background: var(--background-primary-subtle);
}

.bottom-nav-btn span {
  font-size: 0.75rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .bottom-nav-container {
    height: auto;
    padding: 10px 0;
    background: transparent;
    border-top: none;
    position: fixed;
    bottom: 0px;
    right: 16px;
    left: auto;
    display: flex;
    justify-content: flex-end;
    width: auto;
    pointer-events: none;
    z-index: 100;
  }

  .bottom-nav {
    pointer-events: auto;
    width: auto;
    background: var(--background-card);
    border: 1px solid var(--border-color-secondary);
    border-radius: 100px;
    padding: 6px 12px;
    gap: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
  }

  .bottom-nav-btn {
    padding: 8px 16px;
    border-radius: 100px;
    flex-direction: column;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--color-text-dim);
  }

  @media (hover: hover) {
    .bottom-nav-btn:hover {
      background: var(--background-primary-subtle);
    }
  }

  .bottom-nav-btn.bottom-nav-btn-active {
    background: var(--background-primary-subtle);
    color: var(--color-text-primary);
    border-radius: 100px;
  }
}
