.profileCard {
  background: var(--background-card);
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--border-color-secondary);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.profileReadonly {
  text-align: left;
  margin-bottom: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color-input);
}

.profileReadonly p {
  margin: 8px 0;
  font-size: 0.95rem;
  color: var(--color-text-secondary);
}
.profileReadonly strong {
  color: var(--color-text-faded);
  font-size: 0.7rem;
  text-transform: uppercase;
}

.actionContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logoutBtn {
  background: transparent;
  color: var(--color-error);
  padding: 12px;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (hover: hover) {
  .logoutBtn:hover {
    background: rgba(255, 70, 70, 0.1);
    color: var(--color-error);
    border-color: transparent;
  }
}
