.settings-container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  box-sizing: border-box;
}

/* Tablet and Desktop Styles */
@media (min-width: 768px) {
  .settings-container {
    width: 100%;
    padding-bottom: 0;
  }
}
