.settingsContainer {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  min-width: 0;
  box-sizing: border-box;
}

.managementWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  width: 100%;
}

/* Tablet and Desktop Styles */
@media (min-width: 768px) {
  .settingsContainer {
    width: 100%;
    padding-bottom: 0;
  }
  .managementWrapper {
    padding-bottom: 110px;
  }
}
