.app-table th.w-user-name {
  min-width: 70px;
  width: auto;
}
.app-table th.w-user-email {
  min-width: 170px;
  width: auto;
}
.app-table th.w-user-gender {
  min-width: 90px;
  width: auto;
}

.app-table th.w-user-positions {
  min-width: 150px;
  width: auto;
}

.app-table th.w-user-status-cols {
  width: 95px;
  text-align: center;
}
