.pillGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.pillGroup::-webkit-scrollbar {
  display: none;
}
.pillGroup.pillGroupNowrap {
  flex-wrap: nowrap;
  width: max-content;
}

.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  width: fit-content;
  flex-shrink: 0;
  padding: 8px 16px;
  transition: all 0.2s ease;
}

@media (hover: hover) {
  .pill:hover {
    transform: translateY(-2px);
  }

  .pill:hover:not(.pillActive) {
    color: var(--pill-colour);
    border-color: 1px solid var(--pill-colour);
    background: var(--pill-subtle-hover-color);
  }
  .pill.pillDisabled:hover {
    transform: none;
    color: var(--color-text-muted);
    border-color: 1px solid transparent;
    background: var(--background-button-secondary);
    cursor: not-allowed;
  }
}

.pill.pillDisabled {
  opacity: 0.5;
  filter: grayscale(1);
  border: 1px solid #333;
}

.pill.pillActive {
  color: var(--pill-colour);
  border-color: 1px solid var(--pill-colour);
  background: var(--pill-subtle-hover-color);
}

.pillText {
  font-size: 0.9rem;
  color: var(--color-text-muted);
  border: 1px solid transparent;
  background: var(--background-button-secondary);
  border-radius: 12px;
}
