.appTableContainer {
  width: 100%;
  height: fit-content;
  max-width: 100%;
  overflow-x: auto;
  background: var(--background-card);
  border: 1px solid var(--border-color-secondary);
  border-radius: 8px;
  box-sizing: border-box;
}

.appTable {
  width: 100%;
  height: max(100%, fit-content);
  border-collapse: separate;
  border-spacing: 0;
  table-layout: auto;
  color: var(--color-text-primary);
}

.appTable th {
  background: var(--background-table-header);
  padding: 12px 8px;
  text-align: left;
  font-size: 0.75rem;
  color: var(--color-text-dim);
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--border-color-secondary);
  border-right: 1px solid var(--border-color-secondary);
  white-space: nowrap;
}

.appTable thead tr th:first-child {
  z-index: 70;
}

.appTable td {
  padding: 8px;
  border-bottom: 1px solid var(--border-color-table);
  border-right: 1px solid var(--border-color-secondary);
  vertical-align: top;
}

.appTable th:last-child,
.appTable td:last-child {
  border-right: none;
}

.appTable td.colorPickerGroup {
  display: flex;
  align-items: center;
  background: transparent;
}

.appTable tbody tr:last-child td {
  border-bottom: none;
}

.stickyCol {
  position: sticky;
  left: 0;
  z-index: 50;
  width: min-content;
  white-space: nowrap;
  border-right: 2px solid var(--border-color-secondary) !important;
  background-color: var(--background-table-header);
}

.appTable th.stickyCol {
  top: 0;
  z-index: 60;
  text-align: left;
}
