.theme-toggle-button {
  border: none;
  background: transparent;
  color: var(--color-text-primary);
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.theme-toggle-button:hover {
  color: var(--color-text-muted);
  background: transparent;
  transform: translateY(0);
}
