.themeToggleButton {
  border: none;
  background: transparent;
  color: var(--color-text-primary);
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: all 0.2s ease;
}
