@import "./animation.css";
@import "./styles/theme.css";
@import "./styles/form.css";
@import "./styles/button.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary); /* Use variable */
  background-color: var(--background-body); /* Use variable */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  touch-action: none;
  width: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: var(--color-link); /* Use variable */
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover); /* Use variable */
}

body {
  margin: 0;
}
