@import './theme.css';
@import './styles/table.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary); /* Use variable */
  background-color: var(--background-body); /* Use variable */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  position: fixed;
  touch-action: pan-y;
  height: 100%;
}

a {
  font-weight: 500;
  color: var(--color-link); /* Use variable */
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover); /* Use variable */
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-button-secondary); /* Use variable */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--border-color-primary); /* Use variable */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}